
@model IEnumerable<BookStore.Models.BookModel>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/allbooks.css" rel="stylesheet" />

</head>
<body>
    <div class="container2">
        <div class="childcontainer">
           

            @foreach (var a in Model)
            {
                <div class="box">
                    <div class="img">
                        img
                    </div>
                    <div class="aboutbox">
                        <p>
                            @a.Title
                            @a.Description
                        </p>
                    </div>
                    <div class="viewdetails">
                        
                        <button type="submit" class="view_details_btn"> <a href="/home/getonebook/@a.Id">View Details</a> </button>
                    </div>
                    <div class="authorname">
                        <p>
                            @a.Author
                        </p>
                    </div>
                </div>

            }



        </div>
    </div>

</body>
</html>

