@model IEnumerable<BookStore.Models.BookModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllBooks</title>
</head>
<body>
    <h1>Get all books</h1>
    
    @{ 
        foreach(var a in Model)
        {
            @a.Id
            
        }
    }

    
</body>
</html>
