
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.addbook_container {
    border: 1px solid red;
    height: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
    width: 100%;
    box-sizing:border-box;
}

.addbook_child_container {
    border: 1px solid rgb(15, 15, 14);
    background-color: rgb(188, 189, 190);
    width: 70%;
    height: 80%;
    padding-bottom: 100px;
    margin-top:50Px;
}

.addbook_form_div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


.addbook_form_div input {
        height: 30px;
    }
