.container1 {
    border: 1px solid red;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
    font-family: 'Roboto Slab', serif;
}

    .container1 h1 {
        margin-bottom: 0;
        margin-top: 50px;
    }

.btn {
    width: 100px;
    height: 50px;
    border: 2px solid rebeccapurple;
    background-color: rgb(40, 40, 230);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.container2 {
    border: 1px solid black;
    display: flex;
    justify-content:center;
}

.childcontainer {
    display: flex;
   
    /* align-items: center; */
    /* text-align: center; */
    flex-wrap: wrap;
    
}

.box {
    margin: 10px;
    border: 1px solid rgb(135, 124, 124);
    width: 30%;
  
}

.img {
    width: 100%;
    height: 200px;
    background-color: rgb(86, 84, 81);
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.aboutbox {
    margin: 20px;
}

.view_details_btn {
    width: 100px;
    height: 30px;
    color: rgb(122, 90, 90);
    margin-left: 20px;
}

.authorname p {
    float: right;
    margin-right: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
